# Flutter / Dart build artifacts
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
*.apk
*.aab
*.dill

# IDE
.idea/
*.iml
.vscode/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec

# Android
android/.gradle/

# Files sensibili
*.keystore
*.jks
*.p12
*.env

# Logs
/logs/

